html, body {
	margin: 0;
	padding: 0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {

}



.fullpage-section {
	height: 100vh;
}

.section-helper {
	position: relative;
	min-height: 100%;
}


.half-width {
	width: 50%;
}

.left {
	left: 0;
}

.title-container {
	position: absolute;
	top: 0;
	z-index: 100;
	height: 100%;


    font-family: 'Raleway', sans-serif;
    font-weight:bold;
    font-size: 4.5em;

}

.section-content {
	position: absolute;
	left: 50%;
	min-height: 100%;
	max-height: 100%;


    font-family: 'Lato', sans-serif;

}

.content-container {
	margin: 20%;
	text-align: left;
	line-height: 2em;
}

.vertical-align-middle {
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	flex-direction: column;
}


#name-container {
	text-align: right;
}


#experience-list-container {
	min-height: 100%;
	max-height: 100%;
	overflow: auto;
	position:absolute;
	width: 100%;
}


/*
	Shadow at top and bottom of experience lists to be able to remove scroll bars/indicate scrollability
*/

.scroll-arrow-top-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 20px;
	z-index: 5;
	width: 60px;
}

.scroll-arrow-bottom-container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: 20px;	
	z-index:5;
	width:60px;
}

.scroll-arrow {
	width: 100%;
	max-width:100%;
	height: 100%;
	max-height: 100%;
	background-color: rgba(0, 0, 0, 0.14);
}

/*
	List styling
*/

#experience-list {
	width: calc(100% + 15px);
}


#experience-list li {
	padding: 20px;
	border-bottom: 1px solid black;
}

#experience-title {
	font-size: 1.2em;
	min-height: 1.2em;
}

.experience-subtitle {
	font-size: 0.8em;
	min-height: 0.8em;
}

/*
	This will be added by JS
*/
.position-fixed {
	position: fixed;
}


/*
	Styling 
*/

.text-main-color {
	color: #009B7A
}

.text-black {
	color: black;
}

.text-white {
	color: #FFFFFF;
}

.bg-dark {
	background-color: #1A1A1A;
}

.bg-main-color {
	background-color: #009B7A
}

.bg-white {
	background-color: #FFFFFF;
}

.good-colors {
	#B90041
	#0023B9
	#001672
	#005E72
	#0190AE
	#1A1A1A
}


/*
	hidden scrollbars
*/
.scroll-bar-hidden-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
	position:absolute;
}

.scroll-bar-hidden-content {
	width: 100%;
    height: 99%;
    overflow: auto;
	padding-right:15px;
}


/*
	Helpers
*/

.hidden {
	display: none;
}

.rotate-180 {
	transform: rotate(180deg);
}
