@font-face {
    font-family: josefin;
    src: url('fonts/district_thin_pro/district_thin_pro/DistProTh.otf');
    font-stretch: semi-expanded;
}

@font-face {
    font-family: helveticaLight;
    src: url('fonts/HelvLight-Regular/HELN.TTF');
}





html, body {
    margin: 0;
    padding: 0;
    background-color: #888888;
    color:white;
    /*font-family: Arial, Helvetica, sans-serif;
 */

    font-family: helveticaLight;

}

a {
    color: white;
    text-decoration: none;
}

h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

ol {
    margin: 0;
    padding: 0;
}


a:hover {
    color: #CCCCCC;
}

#app {
    height:100%;
}


#container {
    height:100%;
}

#content {
    margin: 0 auto;
    background-color: #555555;
    height: 100%;
}


.header {
    text-align: center;
    background-color: #353435;
    font-size: 2em;
    font-weight: bold;
    
    min-height: 100px;
    height: 25%;
    max-height: 200px;

    text-transform: capitalize;


display: flex;
flex-direction: column;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

.topic-header {
    text-align: center;
    background-color: #353435;
    font-size: 2em;
    font-weight: bold;
    min-height: 100px;
    height: 10%;
    max-height: 200px;

    text-transform: capitalize;

    position: relative;

display: flex;
flex-direction: column;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
}

#topic-header-home-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    height:1.0em;
    width:1.0em;
    background-image: url('/KnowYourVote/images/hamburger.png');
    background-size: 100% 100%;
}

.home-not-header {
    max-width: 1000px;
    max-height: 75%;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;
display: flex;
flex-direction: column;
}


#home-text {
    font-size: 2em;
    padding: 40px 0 40px 0;
    position: relative;
}

.topic-tiles-container {
    overflow-y: auto;
}

.topic-tile {
    width: 180px;
    height: 180px;
    margin: 20px;

    text-align: center;
    vertical-align: top;
    

display: inline-flex;
flex-direction: column;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */

    background-color: #555555;

}

.topic-tile-image-container {
    width: 25%;
    height: 25%;
    border: 1px solid white;
    margin: 20px;
}

.tile-image {
    max-height: 100%;
    max-width: 100%;
}

.topic-tile-text {
    font-size: 1.3em;
}

.topic-tile-text::first-letter {
    text-transform: uppercase;
}

.tile-active {
-webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.46);
-moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.15);
box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.15);
}

.nav-link-container{
    display: inline-block;
}

.nav-link {
    display: inline-block;
}

.nav-link-separator {
    display: inline-block;
}


.spectrum-pane-container {
    overflow-x: auto;
    overflow-y: hidden;
    width:100%;
    flex: 1 1 auto;

    display:flex;
    flex-direction: column;
}

.spectrum-pane {
    position: relative;
    min-height: 400px;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    text-align: center;
    flex: 1 1 auto;
}

#label-container {
    position: relative;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    text-align: center; 
    height: 70px;
}

.spectrum-overlay {
    position:absolute;
    background-color: rgba(200,200,200,0.1);
    top: 0;
    height: 100%;
    width:0%;
    z-index:2;
}

.overlay-container {
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.overlay-slide-enter {
    width: 0;
}

.overlay-slide-enter.overlay-slide-enter-active {
    width: 100%;
    transition: width 600ms ease-in;
}


#current-value-divider-label {
    background-color: #CCCCCC;
    color: black;
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: 13px;
}

#current-value-divider-label:after, #current-value-divider-label:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
    z-index: 1;
}

#current-value-divider-label:after {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: #CCCCCC;
	border-width: 30px;
	margin-left: -30px;
    z-index: 1;
}

#left-arrow {
    left: 40px;
    background-color: #CCCCCC;
    color: black;
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: 13px;
    text-align: right;
}

#left-arrow:after {
	right: 100%;
	top: 50%;
    z-index: 1;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 204, 204, 0);
	border-right-color: #CCCCCC;
    border-width: 25px;
    margin-top: -25px;
}


#right-arrow {
    right: 40px;
    background-color: #CCCCCC;
    color: black;
    position: absolute;
    z-index: 1;
    display: inline-block;
    padding: 13px;
    text-align: left;
}

#right-arrow:after {
	left: 100%;
	top: 50%;
    z-index: 1;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(204, 204, 204, 0);
	border-left-color: #CCCCCC;
    border-width: 25px;
    margin-top: -25px;
}



#current-value-divider {
    position: absolute;
    height:100%;
    background-color: #CCCCCC;
    width: 2px;
    z-index:0;
}

.spectrum-option {
    position:absolute;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 190px;
    color: #FAFAFA;
}

.spectrum-option-enter {
    background-color: #444444;
    padding: 5px;
}

.spectrum-option-enter.spectrum-option-enter-activate {
    background-color: rgba(50,50,50,1.0);
    color: #FFFFFF;
    transition: all 600ms ease-in;
}

.spectrum-option-deactivate-enter {
    background-color: #444444;
}

.spectrum-option-deactivate-enter.spectrum-option-deactivate-enter-activate {
    background-color: rgba(100,100,100,0.9);
    transition: all 600ms ease-in;
}

.spectrum-option .title {
    font-size: 1.3em;
    margin: 10px;
}

.spectrum-option .short {
    margin: 9px;
}

.topic-container {
    height:100%;
}

.topic-content {
    background-color: #909090;
    display: flex;
    flex-flow: column;
    height:100%;
}

.topic-description-container {
    max-width: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    flex: 0 1 auto;
}

.topic-description {
    width: 80%;
    margin-left: 10%;
    color: black;
}

.description-listitem {
    font-size: 1.2em;
    padding: 5px 0 5px 0;
}

.choice-pane {
    max-width: 1000px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.choice-question {
    display:block;
    width: 80%;
    margin-left: 10%;
    font-size: 1.2em;
    padding: 5px 0 5px 0;
    color: black;
}



/*
    Subtopic styling
*/
.subtopics-container {
    display:flex;
    flex-direction: row;
}

.subtopics-no-party-selected {
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.subtopic-titles-container {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.subtopic-title {
    display:block;
    font-size: 1.5em;
    margin-left:20px;
}


.subtopic-facts-container {
    display:inline-block;
    width:75%;
}

.subtopic-fact {

}


/* from https://codepen.io/AngelaVelasquez/pen/Eypnq */
.choice-pane  ul{
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


.choice-pane ul li{
  color: #DEDEDE;
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.choice-pane ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.choice-pane ul li label{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 10px 25px 10px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  transition: all 0.25s linear;
}

.choice-pane ul li:hover label{
	color: #FFFFFF;
}

.choice-pane ul li .check{
  display: block;
  position: absolute;
  border: 5px solid #DEDEDE;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 15px;
  left: 20px;
	z-index: 5;
	transition: border .25s linear;
}

.choice-pane ul li:hover .check {
  border: 5px solid #FFFFFF;
}

.choice-pane ul li .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
}

.choice-input[type=radio]:checked ~ .check {
  border: 5px solid #0DFF92;
}

.choice-input[type=radio]:checked ~ .check::before{
  background: #0DFF92;
}

.choice-input[type=radio]:checked ~ label{
  color: #0DFF92;
}


/*--- end --- */

.full-height {
    height: 100%;
}

.inline {
    display: inline-block;
}

.slightly-larger-text {
    font-size: 1.2em;
}


